/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Light gray background, clean and modern */
    color: #333; /* Dark gray text for contrast and readability */
    line-height: 1.6;
}

header {
    background: #1a1a2e; /* Deep, dark blue for a sleek look */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.fa {
    margin-right: 5px; /* Space between icon and text */
}

#hero {
    background: #16213e; /* Slightly different shade of dark blue for variety */
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}

.section {
    padding: 2rem;
    text-align: center;
}

.resume-link, .my-link {
    display: inline-block;
    margin-top: 1rem;
    background: #0f3460; /* Subdued blue for a mature look */
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-link:hover, .my-link:hover {
    background: #533483; /* A gentle purple for a subtle hover effect */
}

footer {
    background: #1a1a2e;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
