/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Poppins font applied globally */;
}

body {
    background-color: #f8f8f8; /* Light gray background, clean and modern */
    color: #333; /* Dark gray text for contrast and readability */
    line-height: 1.6;
}

header {
    background: #1a1a2e; /* Deep, dark blue for a sleek look */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.fa {
    margin-right: 5px;
}

#hero {
    background: #293a69;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}

/* Portfolio Section */
.portfolio {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.projects {
    display: flex;
    gap: 20px;
}

.projects div {
    height: 400px;
    width: 400px;
    justify-self: center;
  }

.project {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    justify-self: auto;
}

.project h3 {
    margin-top: 0;
}

.project a {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: #0000EE;
}

.section {
    padding: 2rem;
    text-align: center;
}

.resume-link, .my-link {
    display: inline-block;
    margin-top: 1rem;
    background: #1a1a2e;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-link:hover, .my-link:hover {
    background: #533483;
}

footer {
    background: #1a1a2e;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 400px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 10px;
    }
    .projects {
        grid-template-columns: 1fr 1fr;
    }

    .projects div:first-child {
        justify-self: start;
    }

    .projects div:last-child {
        justify-self: end;
    }

    .resume-link, .my-link {
        padding: 0.5rem 1rem;
    }
}